
@{
    ViewData["Title"] = "Add new brand";
    Layout = "_Layout";
}


<form action="/Brand/AddBrand" method="post">

    <div class="mb-3 row">
        <label for="Id" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Id" value="" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Name" class="col-sm-2 col-form-label">Brand</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Name" value="" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Description" value="">
        </div>
    </div>
   
    <button type="submit" class="btn btn-primary mb-3">Add</button>
</form>

