@using MVCAppAutohouse.DAL.Entities;

@model Brand

@{

    Layout = "_Layout";
}

<form action="/Brand/Update" method="post">

    <div class="mb-3 row">
        <label for="ID" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Id" value="@Model.Id" readonly />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Name" class="col-sm-2 col-form-label">Brand</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Name" value="@Model.Name" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Model" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Description" value="@Model.Description">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary mb-3">Update</button>
</form>



